<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>


   <div class="container">
       <form th:action="@{/register}" method="POST" th:object="${userDTO}">
           <h1>Register - Sign Up</h1>

           <div class="form-row py-1">
               <label for="username">Username</label>
               <input type="text" class="form-control" name="username" id="username"
                      th:value="*{username}" th:errorClass="is-invalid">

               <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></div>
           </div>

           <div class="form-row py-1">
               <label for="email">Email</label>
               <input type="text" class="form-control" name="email" id="email"
                      th:value="*{email}" th:errorClass="is-invalid">

               <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
           </div>

           <div class="form-row py-1">
               <label for="password">Password</label>
               <input type="password" class="form-control" name="password" id="password"
                      th:value="*{password}" th:errorClass="is-invalid">

               <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
           </div>

           <div class="form-row py-1">
               <label for="rpassword">Re-enter Password</label>
               <input type="password" class="form-control" name="rpassword" id="rpassword"
                      th:value="*{rpassword}" th:errorClass="is-invalid">

               <div th:if="${#fields.hasErrors('rpassword')}" th:errors="*{rpassword}" class="invalid-feedback"></div>
           </div>

           <div class="form-row py-1">
               <button type="submit" class="btn btn-info">Create your account</button>
           </div>
       </form>

       <p class="py-2">Already have an account? <a href="./login">Sign In</a></p>
   </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>